<section>

    <article>
        <h3>Two-way data binding</h3>
        <div>

            <p>Two-Way Data Binding manual (Property + Event Binding)</p>
            <input type="text" 
            [value]="nome"
            (input)="nome = $event.target.value"
            >

            <p>Two-Way Data Binding manual usando ngModel</p>
            <input type="text" 
            [ngModel]="nome"
            (ngModelChange)="nome = $event"
            >

            <p>Two-Way Data Binding (forma abreviada e mais utilizada)</p>
            <input type="text" [(ngModel)]="nome">

            <p>Two-Way Data Binding (sintaxe completa/equivalente ao [(ngModel)])</p>
            <input type="text" bindon-ngModel="nome">

            <p>Você digitou: {{ nome }}</p>

        </div>

        <div>

            <p>Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos de idade.</p>

            <input type="text" [(ngModel)]="pessoa.nome">
            <input type="text" [(ngModel)]="pessoa.idade">

        </div>
    </article>
    <br><br>
</section>