<section class="property-binding">

  <article>
    <h3>Interpolation / Interpolação</h3>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
    <p>Resultado de 1 + 1 não é: {{ 1 + 1 + getValor()}}</p>
    <p>Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
  </article>

  <article>
    <h3>Property Binding</h3>
    <img src="{{ urlImagem }}">        <!-- Interpolação dentro de um atributo HTML, funciona, mas não é a forma recomendada para propriedades do DOM -->
    <img [src]="urlImagem">            <!-- Property Binding (forma moderna e mais utilizada), liga a propriedade src à propriedade urlImagem do componente -->
    <img bind-src="urlImagem">         <!-- Property Binding (forma completa/antiga), equivalente a [src]="urlImagem" -->
  </article>

  <article>
    <h3>Class e Style Binding</h3>
    <div>
        Selecione uma classe:
        <select #classe (change)="0">
            <option value="alert-success">Sucesso</option>
            <option value="alert-info">Info</option>
            <option value="alert-warning">Alerta</option>
            <option value="alert-danger">Erro</option>
        </select>
        <br><br>

        <!-- 2) Usando interpolação -->
        <div class="alert {{ classe.value }}">
            Texto colorido conforme valor do combobox.
        </div>

        <!-- 1) Property binding de classe -->
        <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">     <!-- Adicione a classe alert-success se a condição for verdadeira -->   
            Sucesso
        </div>
        <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">
            Info
        </div>
        <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">
            Alerta
        </div>
        <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">
            Erro
        </div>

        <!-- 3) Property Binding com estilo de classe -->
        <div class="alert alert-danger" role="alert" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
            Esse texto somente aparece em caso de erro.
        </div>
    </div>
    
  </article>


  <!-- sasa -->

</section>